
 
.description {
  max-width: 980px;
  margin: 40px auto 92px;
  padding: 0 40px;
  box-sizing: border-box;
}
 
.description__content {
  max-width: 722px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.67; 
}
 

@media screen and (max-width: 768px) {
  .description {
    margin: 40px 24px 64px;
    padding: 0;
  }
 
  .description__content {
    font-size: 16px;
    max-width: 100%;
  }
}
 

@media screen and (max-width: 425px) {
  .description {
    margin: 16px 16px 48px;
    padding: 0;
  }
 
  .description__content {
    font-size: 14px;
    line-height: 1.6;
  }
}