.description {
  max-width: 980px;
  margin: 40px auto 92px;
  padding: 0 40px;
  box-sizing: border-box;
}

.description__content {
  max-width: 722px;
  margin: 0; /* Asegúrate de que no esté centrado si Figma lo pide a la izquierda */
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (max-width: 1024px) {
  .description {
    max-width: 720px;
    margin: 90px 24px 64px;
  }

  .description__title {
    max-width: 710px;
    font-size: 45px;
    line-height: 0.8;
  }
}

@media screen and (max-width: 544px) {
  .description {
    max-width: 290px;
    margin: 16px;
  }

  .description__title {
    font-size: 40px;
    line-height: 1;
  }

  .description__paragraph {
    line-height: 1.1;
  }
}