
.intro {
  max-width: 980px;
  margin: 92px auto 0;
  padding: 0 40px;
  box-sizing: border-box;
}
 

.intro__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07; 
  margin: 0 0 40px;
  max-width: 683px;
  text-wrap: balance;
}
 

.intro__quote {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6; 
  margin: 0 0 8px;
  max-width: 683px;
}
 

.intro__author {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6; 
  margin: 0 0 0 auto;
  max-width: 173px;
  text-align: right;
}
 

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 64px;
    padding: 0 24px;
  }
 
  .intro__title {
    font-size: 45px;
    line-height: 1.09; 
    max-width: 100%;
  }
 
  .intro__quote {
    font-size: 18px;
  }
 
  .intro__author {
    font-size: 16px;
  }
}
 

@media screen and (max-width: 425px) {
  .intro {
    margin-top: 48px;
    padding: 0 16px;
  }
 
  .intro__title {
    font-size: 32px;
    line-height: 1.09; 
    max-width: 288px;
  }
 
  .intro__quote {
    font-size: 16px;
    line-height: 1.6;
  }
 
  .intro__author {
    font-size: 14px;
    margin: 16px 0 0 auto;
  }
}
 