.contenido {
  margin: 0 auto;
  max-width: 984px;
}
.content__title {
  max-width: 830px;
  /* max-height: 174px;*/
  margin: 0 auto 40px 0;
  font-family: "Inter";
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: start;
  text-wrap: balance;
}