.encabezado__logotipo {
  max-height: 69px;
  max-width: 255px;
  padding: 34px 0 0;
  margin: 0 auto;
  display: block;
}

.encabezado__contenido {
  margin: 92px auto;
}

.encabezado__título {
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  font-family: "Inter";
}

.encabezado__subtítulo {
  text-align: center;
  margin: 32px auto 64px;
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Inter";
}

.encabezado__imagen {
  max-width: 984px;
  width: 100%;
  max-height: 615px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 768px) {
  /* .header__logo {
     max-width: 254px;
     max-height: 66px;
  } */
  .encabezado__título {
    max-width: 530px;
    /* max-height: 158px; */
    font-size: 75px;
    line-height: 79px;
  }
  .encabezado__subtítulo {
    /* max-width: 720px; */
    /* max-height: 72px; */
    font-size: 30px;
    line-height: 36px;
  }
  .encabezado__imagen {
    /* max-width: 768px; */
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .encabezado__logotipo {
    max-width: 188px;
    max-height: 52px;
  }
  .encabezado__título {
    /* max-width: 228px; */
    /* max-height: 88px; */
    font-size: 40px;
    line-height: 44px;
  }
  .encabezado__subtítulo {
    /* max-width: 228px; */
    /* max-height: 40px; */
    font-size: 16px;
    line-height: 20px;
  }
  .encabezado__imagen {
    max-width: 320px;
    max-height: 200px;
  }
}